---
layout: base.njk
title: Gallery
description: A collection of photography and visual work.
---

<section class="section gallery-page">
  <div class="container">
    <h1>Gallery</h1>
    <p class="gallery-intro">A collection of photography and visual work.</p>
    
    <div class="gallery-grid gallery-grid-full">
      <a href="/img/gallery/DSCF3710.png" class="gallery-item" data-lightbox="gallery">
        <img src="/img/gallery/DSCF3710.png" alt="Gallery image 1" loading="lazy">
      </a>
      <a href="/img/gallery/IMG_20180321_194221.png" class="gallery-item" data-lightbox="gallery">
        <img src="/img/gallery/IMG_20180321_194221.png" alt="Gallery image 2" loading="lazy">
      </a>
      <a href="/img/gallery/IMG_2193.png" class="gallery-item" data-lightbox="gallery">
        <img src="/img/gallery/IMG_2193.png" alt="Gallery image 3" loading="lazy">
      </a>
      <a href="/img/gallery/IMG_8192.png" class="gallery-item" data-lightbox="gallery">
        <img src="/img/gallery/IMG_8192.png" alt="Gallery image 4" loading="lazy">
      </a>
      <a href="/img/gallery/IMG_8242.png" class="gallery-item" data-lightbox="gallery">
        <img src="/img/gallery/IMG_8242.png" alt="Gallery image 5" loading="lazy">
      </a>
      <a href="/img/gallery/IMG_8454.png" class="gallery-item" data-lightbox="gallery">
        <img src="/img/gallery/IMG_8454.png" alt="Gallery image 6" loading="lazy">
      </a>
      <a href="/img/gallery/Marmstrong_20180620_152750.png" class="gallery-item" data-lightbox="gallery">
        <img src="/img/gallery/Marmstrong_20180620_152750.png" alt="Gallery image 7" loading="lazy">
      </a>
      <a href="/img/gallery/PaintingMet-meRubensCIMG0033.png" class="gallery-item" data-lightbox="gallery">
        <img src="/img/gallery/PaintingMet-meRubensCIMG0033.png" alt="Gallery image 8" loading="lazy">
      </a>
      <a href="/img/gallery/granacifinal930.png" class="gallery-item" data-lightbox="gallery">
        <img src="/img/gallery/granacifinal930.png" alt="Gallery image 9" loading="lazy">
      </a>
      <a href="/img/gallery/headstudy-dancer.png" class="gallery-item" data-lightbox="gallery">
        <img src="/img/gallery/headstudy-dancer.png" alt="Gallery image 10" loading="lazy">
      </a>
    </div>
    
    <a href="/" class="back-link">&larr; Back to Home</a>
  </div>
</section>
